@charset "utf-8";

/*chatbox*/

.chatbox {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
}


/*chat_top*/

.chat_top {
    height: 60px;
    border-bottom: 1px solid #eee;
}

.logo {
    float: left;
}

.logo img {
    vertical-align: bottom;
}

.uinfo {
    margin: 10px 0;
    float: right;
    padding-right: 20px;
}

.uface {
    float: left;
    height: 40px;
}

.uface img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.uinfo .uname {
    float: left;
    line-height: 40px;
    margin-left: 10px;
    color: #2E4059;
    position: relative;
}

.uinfo .uname i.down {
    margin-left: 50px;
}

.managerbox {
    display: none;
    width: 100px;
    border: 1px solid #eee;
    background-color: #FFF;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    right: -10px;
}

.managerbox a {
    display: block;
    color: #2E4059;
    padding: 0px 10px;
}

.managerbox a i {
    margin-right: 10px;
}

.managerbox a:hover {
    background-color: #f9f9f9;
    text-decoration: none;
}


/*chat_message*/

.chat_message {
    height: -moz-calc(100% - 61px);
    height: -webkit-calc(100% - 61px);
    height: calc(100% - 61px);
}


/*chat_left*/

.chat_left {
    padding: 20px;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
    float: left;
}

.message_box {
    background-color: #FFF;
    margin-bottom: 20px;
    height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
    overflow: auto;
}

.msg_item {
    margin-bottom: 20px;
    position: relative;
}

.msg_item .uface {
    position: absolute;
    bottom: 0px;
}

.msg_item .item_right {
    margin-left: 45px;
    float: left;
    margin-right: 15px;
}

.msg_item .msg {
    background-color: #F4F6F8;
    padding: 10px 15px;
    line-height: 24px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #2E4059;
    position: relative;
    margin-bottom: 5px;
}

.msg.own {
    background-color: #E0F1FC;
}


/*自己的聊天记录显示为蓝色*/

.msg_item .msg:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 10px;
    border-width: 12px 12px 0 0;
    border-style: solid;
    border-color: #F4F6F8 transparent;
    display: block;
    width: 0;
}

.msg_item .msg.own:before {
    border-color: #E0F1FC transparent;
}

.msg_item .name_time {
    font-size: 12px;
    color: #7E90A5;
    line-height: 30px;
    padding-left: 10px;
}

.write_box {
    height: 100px;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.write_area {
    border: 2px solid #E3E8ED;
    border-bottom: none;
    padding: 5px;
    outline: none;
    color: #B4C0CE;
    margin: 0;
    vertical-align: bottom;
    width: -moz-calc(100% - 14px);
    width: -webkit-calc(100% - 14px);
    width: calc(100% - 14px);
    height: 56px;
}

.facebox {
    height: 32px;
    width: 100%;
    background-color: #E3E8ED;
}

.sub_but {
    float: right;
    padding: 0 25px;
    background-color: #7E90A5;
    outline: none;
    border: none;
    height: 32px;
    cursor: pointer;
    line-height: 30px;
    color: #FFF;
}


/*chat_right*/

.chat_right {
    width: 199px;
    height: 100%;
    float: left;
    border-left: 1px solid #eee;
}

.user_list {
    padding: 0;
    overflow: auto;
    height: 100%;
}

.user_list li {
    padding: 10px 20px;
    color: #2E4059;
    cursor: pointer;
}

.user_list li:hover,
.user_list li.selected {
    background-color: #F4F6F8;
}

.user_list li span {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user_list li em {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
}

.user_list li small {
    width: 10px;
    height: 10px;
    margin: 10px;
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

small.online {
    background-color: #57B869;
}

small.offline {
    background-color: #EB3E3E;
}

.user_list li img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
}


/*expression - 表情,有待增加*/

.expression {
    float: left;
}


/*chat_type - 聊天性质,私聊|群聊*/

.chat_type {
    float: left;
    line-height: 30px;
    padding-left: 10px;
}