<!-- Images (and assets) are parsed and loaded from within the public directory -->
<!-- <img src="/img/logo.png"> -->
<div class="chatbox">
  <div class="chat_top fn-clear">
    <div class="logo" ui-sref="roomlist"><img ng-src="{{vm.logo}}" width="190" height="60" alt="" /></div>
    <div class="uinfo fn-clear">
      <div class="uface"><img ng-src="{{vm.myAvatar}}" width="40" height="40" alt="" /></div>
      <div class="uname">
        {{vm.useremail}} <i class="glyphicon glyphicon-log-out logout-icon" ng-click="vm.exit()"></i>
        <!-- <ul class="managerbox">
          <li><a href="#"><i class="fontico lock"></i>修改密码</a></li>
          <li><a href="#"><i class="fontico logout"></i>退出登录</a></li> -->
        <!-- </ul> -->
      </div>
    </div>
  </div>
  <div class="chat_message fn-clear">
    <div class="chat_left">
      <div class="message_box" id="message_box" scroll-glue>

        <div class="msg_item fn-clear" ng-repeat="msg in vm.msgList">
          <div class="uface">
            <img ng-src="{{vm.myAvatar}}" width="40" height="40" alt="" ng-if="vm.useremail == msg.useremail" />
            <img ng-src="{{vm.avatarMap[msg.avatar]}}" width="40" height="40" alt="" ng-if="vm.useremail != msg.useremail" />
          </div>
          <div class="item_right">
            <div class="msg" ng-class="{'own':msg.useremail == vm.useremail}">{{msg.text}}</div>
            <div class="name_time">{{msg.useremail}} · {{msg.timestamp | date:'medium'}}</div>
          </div>
        </div>

      </div>

      <div class="write_box">
        <textarea ng-keypress="vm.keyPress($event)" id="message" name="message" ng-model="vm.msgText" class="write_area" placeholder="Say something..."></textarea>
        <!-- <input type="hidden" name="fromname" id="fromname" value="河图" /> -->
        <!-- <input type="hidden" name="to_uid" id="to_uid" value="0"> -->
        <div class="facebox fn-clear">
          <div class="expression"></div>
          <!-- <div class="chat_type" id="chat_type">ChatRoom</div> -->
          <button name="" class="sub_but" ng-disabled="!vm.msgText" ng-class="{'disable_sub_but':!vm.msgText}" ng-click="vm.onSubmit(vm.msgText)">Send</button>
        </div>
      </div>
    </div>
    <div class="chat_right">
      <ul class="user_list">
        <li class="fn-clear selected"><em>All Users</em></li>
        <li class="fn-clear" data-id="1" ng-repeat="user in vm.userList">
          <a class="glyphicon glyphicon-remove-circle remove_icon" ng-click="vm.removeUser(user)" ng-if="(vm.roomAdmin == vm.useremail) && (user != vm.useremail)"></a>
          <span>
    
            <img ng-src="{{vm.myAvatar}}" width="20" height="20"  alt="" ng-if="vm.useremail == user"/>
            <img src="{{vm.avatarMap[user.avatar]}}" width="20" height="20"  alt="" ng-if="vm.useremail !== user"/>
            
          </span>
          <em class="user_name">{{user.useremail}}
              
          </em>
          <!-- <small class="online" title="online"></small> -->

        </li>
        <!-- <li class="fn-clear" data-id="1"><span><img src="images/hetu.jpg" width="30" height="30"  alt=""/></span><em>河图</em><small class="online" title="在线"></small></li> -->
        <!-- <li class="fn-clear" data-id="2"><span><img src="images/53f44283a4347.jpg" width="30" height="30"  alt=""/></span><em>猫猫</em><small class="online" title="在线"></small></li> -->
        <!-- <li class="fn-clear" data-id="3"><span><img src="images/53f442834079a.jpg" width="30" height="30"  alt=""/></span><em>白猫</em><small class="offline" title="离线"></small></li> -->
      </ul>
    </div>
  </div>
</div>