/* .create-room-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.create-room-form input.ng-valid.ng-touched {
    background-color: #78FA89;
} */


/* 
.has-error input {

    border: 1px solid red;
}

.help-block {
    color: red;
} */