<div class="roomlist">
  <div class="chat_top fn-clear">
    <div class="logo"><img ng-src="{{vm.logo}}" width="190" height="60" alt="" /></div>
    <div class="uinfo fn-clear">
      <div class="uname">
        <a ng-click="vm.onCreate()">create</a>
        <a>exit</a>
      </div>
    </div>
  </div>
  <div>
    <ul style="overflow-y:scroll;height:530px;">
      <li class="room-item" ng-repeat="room in vm.roomList">
        <div class="room-box">
          <a ui-sref="chatroom({id:room.id})">
            <span>CHAT ROOM ID - {{room.id}}</span>
          </a>
        </div>
        <span class="room-title">
          <a ui-sref="chatroom({id:room.id})">
            <span>{{room.name}}</span>
        </a>
        </span>
      </li>
    </ul>
  </div>

</div>