<div class="roomlist">
  <div class="chat_top fn-clear">
    <div class="logo"><img ng-src="{{vm.logo}}" width="190" height="60" alt="" /></div>
    <div class="uinfo fn-clear">
      <div class="uname">
        <a ng-click="vm.onCreate()">create</a>
        <a>exit</a>
      </div>
    </div>
  </div>
  <div>
    <ul style="overflow-y:scroll;height:530px;">
      <li class="room-item" ng-repeat=" i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]">
        <div class="room-box">
          <a ui-sref="chatroom">
            <span>CHAT ROOM</span>
          </a>
        </div>
        <span class="room-title">
          <a ui-sref="chatroom">
            <span>room {{$index + 1}}</span>
        </a>
        </span>
      </li>
    </ul>
  </div>

</div>